<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433413376524-aaqruvbk9degj9t23uhqogn1102h4aut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433413376524-aaqruvbk9degj9t23uhqogn1102h4aut</string>
	<key>API_KEY</key>
	<string>AIzaSyAHXJ7C55UQOD8EjnZ9u7WOdyWl50f6bk0</string>
	<key>GCM_SENDER_ID</key>
	<string>433413376524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jobfinderplus.app</string>
	<key>PROJECT_ID</key>
	<string>jobfinderplus-8e078</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfinderplus-8e078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433413376524:ios:847c25da860d6ab069fc29</string>
</dict>
</plist>